.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 2cm;
    margin-left: 2cm;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
*{ 
    padding: 0px;
    margin:0px;
    text-decoration: none;
    list-style:none;
    box-sizing:border-box; 
}
body{ 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
/* the begin of navbar CSS */
nav{
    background: #0082e6;
    height: 80px; 
    width: 100%;
   position: fixed;
}
label.logo{ 
    color: white;
    font-size: 35px; 
    line-height:80px;
    padding: 0 100px;
}
nav ul{
    float : right; 
    margin-right: 20px;
}
nav ul li{ 
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{ 
    color: white; 
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{ 
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{ 
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{ 
    display: none;
}
@media (max-width: 952px) { 
    label.logo{ 
        font-size: 30px;
        padding-left: 50px;
    }
  nav ul li a{ 
    font-size: 16px;
  }
}
@media (max-width: 858px){ 
    .checkbtn{
        display: block;

    }
    ul{ 
        position:fixed;
        height: 100%;
        width: 100%;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition:all .5s;
    }
  nav ul li{
    display: block;
    margin : 50px 0; 
    line-height: 30px;
    text-decoration: none;
  }
  nav ul li a{ 
    font-size: 20px;
  }
  a:hover, a.active{ 
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{ 
    left: 0;
  }
}

/* the end of navbar CSS */

.div1{ 
    background-color: rgb(235, 234, 234);
    width: 5cm;
    height: 12.4cm;
}
.div2{ 
    display: inline-block;
    padding-left: 2.5cm;
    padding-top: 2cm;
}
.div3{ 
    display: inline-block;
    background: url(./IMGP/IM1.png) no-repeat;
    background-size: cover ;
    margin-left: 3cm;
    margin-bottom: 0;
    width: 11cm;
    height: 9cm;
}
.engacontainer{ 
    width: 100%;
    height: 12cm;
    display: inline-block;
}
.th1{
 display: inline-block;
 width: 50%;
 height: 7cm;
 background-color: rgb(235, 234, 234);
 padding-bottom: 10cm;
}
.th2{ 
 display: inline-block;
 width: 50%;
 height: 10cm;
 background: url(IMGP/IM2.png) no-repeat;
 background-size: cover;
}

.th4{
    display: inline-block;
    width: 50%;
    height: 7cm;
    background-color: rgb(235, 234, 234);
    padding-bottom: 10cm;
   }
.th3{ 
    display: inline-block;
    width: 50%;
    height: 10cm;
    background: url(IMGP/IM3.png) no-repeat;
    background-size: cover;
   }
.th5{
    display: inline-block;
    width: 50%;
    height: 7cm;
    background-color: rgb(235, 234, 234);
    padding-bottom: 10cm;
   }
.th6{ 
    display: inline-block;
    width: 50%;
    height: 10cm;
    background: url(IMGP/IM4.png) no-repeat;
    background-size: cover;
   }
.div8{ 
    width: 8cm;
    height: 7cm;
    margin-left: 110px;
    padding: 19px ;
    margin-top: 1cm;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px 1px #a7a6a6; */
    display: inline-block;
}
.p1{
    color: #a7a6a6;
}
.body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
  
    
    
    
}
.slider{ 
    /* position: relative; */
    width: 12cm;
    height: 13;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #58b5fc;
    border-radius: 10px;
}
.images{ 
    display: flex;
    width: 12cm;
    height: 13cm;
}
.images img{ 
    height:100%;
    width: 100%;
    transition: all 0.15s ease;
}
.images input{ 
    display:none;
}
.dots{ 
    display: flex;
    justify-content: center;
    margin: 10px;
}
.dots label{ 
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid rgb(21, 21, 21) 2.4px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 7px;
}
.dots label:hover{ 
    background-color: #0082e6;
}
#im18:checked ~ .im18 { 
    margin-left: 0;
}

#im19:checked ~ .im19 { 
    margin-left: -100%;
}

#im20:checked ~ .im20 { 
    margin-left: -200%;
}

#im21:checked ~ .im21 { 
    margin-left: -300%;
}

#im22:checked ~ .im22 { 
    margin-left: -400%;
}

#im23:checked ~ .im23 { 
    margin-left: -500%;
}
#im24:checked ~ .im24 { 
    margin-left: -600%;
}
#im25:checked ~ .im25 { 
    margin-left: -700%;
}

.div9{ 
    padding-left: 2.5cm;
    display: inline-block;
    padding-right: 3cm;
}
.div10{ 
    background: url(./IMG/IM26.png) no-repeat  ;
    background-size: cover ;
    height: 12cm;
    width: 14cm;
    display: inline-block;
    border-radius: 10px;
    
}
.IM27{ 
    background: url(./IMG/IM27.png) no-repeat  ;
    background-size: cover ;
    height: 4cm;
    width: 7cm;
    display: inline-block;
    border-radius: 7px;
    padding: 1cm;
}
.IM28{ 
    background: url(./IMG/IM28.png) no-repeat  ;
    background-size: cover ;
    height: 5cm;
    width: 7cm;
    display: inline-block;
    border-radius: 7px;
    padding: 2cm;
}
footer{ 
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #229bf8;
    padding: 75px 0 20px;
    border-top-left-radius: 120px;
    font-size: 15px;
    line-height:20px ;
    color: white;
    display: inline-block;
}

.logo{ 
    width:300px ;
    margin-bottom: 30px;

}
.col{ 
    padding-left: 3cm;
    display: inline-block;
}
.a1{ 
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.a1:hover{ 
    color: #202056;
}
.div11{ 
    background: url(IMGP/IM6.png) no-repeat;
    background-size: cover;
    width: 18cm;
    height: 15cm;
    margin-left: 1cm;
    border-top-left-radius: 35px;
    border-bottom-right-radius:35px ; 
    display: inline-block;
}
.div12{
    width: 20cm;
    height: 12cm;
    border: #0082e6 solid;
    border-top-left-radius: 30px;
    border-bottom-right-radius:30px ; 

}
.div13{
    display: inline-block;
    
}
.table1{ 
    padding-left: 1cm;
    /* padding-bottom: 16cm; */
}
th{
    padding-left: 1cm;
    width: 5cm;
    height: 1.6cm;
    font-size: 17px;
}
.inputM{
    width: 10cm;
    height: 6cm;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px ; 
}
.inputC{ 
    width: 10cm;
    height: 1.1cm;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px ; 

}

.btn{ 
    background: none;
    padding: 10px;
    color: #eceef4;
    transition: width 0.4s;
    background-color: #0082e6;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px ;
    width: 170px;
}
.btn:hover{ 
    background-color:  #2260ff;
    border-radius: 3px;
    border-color: #0082e6;
    box-shadow: 3px 2px #2c3e50 ;
    width:200px ;
    border-top-left-radius: 15px;
    border-bottom-right-radius:15px ;
}
input{ 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 9px;
    font-size: 16px;
    
}
.inputC{ 
    border: solid 2px ;
}

input:hover{ 
    border-color: #1b9bff;
}
.inputC:hover{ 
    border-color: #1b9bff;
}